.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 6rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }